# Exercise Questions for Topic 6

In [2]:
import numpy as np
import pandas as pd

## 1

In [4]:
df = pd.read_excel("Topic6_5.8.xlsx")

In [9]:
# discount factor F
df['F'] = np.exp(-df['fr']*0.25)    # 注意是 continuously compounded
df["Z(0,T)"] = df['F'].cumprod()
df

       m      fr         F    Z(0,T)
0   0.25  0.0353  0.991214  0.991214
1   0.50  0.0358  0.991090  0.982382
2   0.75  0.0419  0.989580  0.972145
3   1.00  0.0399  0.990075  0.962496
4   1.25  0.0454  0.988714  0.951634
5   1.50  0.0500  0.987578  0.939812
6   1.75  0.0476  0.988171  0.928695
7   2.00  0.0588  0.985408  0.915143
8   2.25  0.0530  0.986837  0.903097
9   2.50  0.0492  0.987775  0.892057
10  2.75  0.0609  0.984890  0.878579
11  3.00  0.0529  0.986862  0.867036
12  3.25  0.0648  0.983931  0.853103
13  3.50  0.0620  0.984620  0.839982
14  3.75  0.0634  0.984275  0.826773
15  4.00  0.0600  0.985112  0.814464
16  4.25  0.0599  0.985137  0.802358
17  4.50  0.0658  0.983685  0.789267
18  4.75  0.0626  0.984472  0.777012
19  5.00  0.0669  0.983414  0.764124
20  5.25  0.0612  0.984816  0.752522
21  5.50  0.0570  0.985851  0.741875
22  5.75  0.0681  0.983119  0.729351
23  6.00  0.0650  0.983881  0.717595
24  6.25  0.0659  0.983660  0.705869
25  6.50  0.0706  0.982505  0.693520
26  6.75  0.0687  0.982972  0.681711
27  7.00  0.0637  0.984201  0.670940

## 2

In [27]:
df = pd.read_excel("Topic6_5.10.xlsx")

In [28]:
# 远期价格
F = df['z1'][7]/df['z1'][1]
P_fwd = 100*F
P_fwd

90.3192478561835

In [29]:
# 购买数量
M = 50 / P_fwd
M

0.5535918554106611

## 3

### 3.a

In [30]:
df = pd.read_excel("Topic6_5.10.xlsx")

In [31]:
P = df['z2'][5]*100
payoff = (P-P_fwd)*M    # 注意乘以数量 M
payoff

0.6370470144131746

## 4

In [37]:
df = pd.read_excel("Topic6_5.12.xlsx").iloc[1::2,:]

In [39]:
# swap rate
df['z'] = np.exp(-df['m']*df['y'])
df['swap_rate'] = 2*(1-df['z'])/(df['z'].cumsum())
df

     m       y         z  swap_rate
1  0.5  0.0276  0.986295   0.027791
3  1.0  0.0295  0.970931   0.029704
5  1.5  0.0298  0.956284   0.030009
7  2.0  0.0320  0.938005   0.032193